@import url('timeline.css');

body {
	font-family: Arial, Helvetica, "MS Trebuchet", sans-serif;
}

#response {
	font-family: Monospace;
	font-size:   10pt;
	padding:     10px;
	background-color: rgba(192,192,192,.7);
	overflow:    auto;
	position:	fixed;
	top:		0px;
	right:		0px;
	height:		100px;
	width:		300px;
}

.clickable {
	color:#660000;
	text-decoration: underline;
	cursor: pointer;
}

.section {
	border-top:1px solid 'grey';
	border-bottom:1px solid 'grey';
	background:#FFFFCC;
	padding:10px;
	margin-bottom:2em;
}

code { white-space:pre }
code .keyword              { font-weight: bold }
code .string, code .regexp { color: green }
code .class, code .special { color: blue }
code .number               { color: red }
code .comment              { color: #666666; background-color:#EEE; }